/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на 
этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  color: var(--main-color);
  background-size: cover;
  background-image: var(--background-color);
  display: block;
  background-attachment: fixed;
}

.header {
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 100px;
  font-family: var(--accent-font);
}

.section-size {
  inline-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background-color: var(--background-color-section);
}

.header-link {
  text-decoration: none;
  cursor: pointer;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  line-height: 1;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-link:focus {
  outline: none;
}

.text-header {
  padding-block-start: 20px;
  line-height: 1;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  padding-block-start: 25px;
  padding-block-end: 25px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 18px;
}

.theme-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
  justify-content: start;
  gap: 14px;
}

.theme-menu__button {
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  gap: 50px;
}

.card-section {
  font-size: 18px;
}

.title-section {
  line-height: 1.21;
  padding: 5px 10px 3px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight);
  display: flex;
  margin-inline-end: auto;
  justify-content: center;
  align-items: center;
}

@supports (font-variation-settings: normal) {
  .title-section {
      font-family: 'Inter-Variable', sans-serif;
      font-weight: 700 785;
  }
} 

.img-con {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  border-block-start: 1px solid var(--main-color);
  border-block-end: 1px solid var(--main-color);
}

.tag-img {
  position: absolute;
  font-size: 14px;
  line-height: 1;
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  color: var(--main-color);
  text-shadow:
  1px 0 var(--border-tag),
  0 1px var(--border-tag);
  opacity: 50%;
  right: 26px;
  top: 23px;
  z-index: 1;
}

.theme-light .tag-img {
  text-shadow:
  1px 0 #ffffff;
}

.theme-dark .tag-img {
  text-shadow:
  1px 0 #000000;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .tag-img {
      -webkit-text-stroke: 1px var(--border-tag-color);
      text-stroke: 1px var(--border-tag);
      text-shadow: none;
  }
}

.img-section {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.text-section-con {
  padding: 25px;
  padding-block-start: 27px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.text-section {
  line-height: 1.167;
  font-size: 18px;
  font-variation-settings: "wght" var(--paragraph-weight);
}

@supports (font-variation-settings: normal) {
  .text-section {
      font-family: 'Inter-Variable', sans-serif;
      font-weight: 400 465;
  }
} 

.like {
  margin-inline-start: auto;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.card__icon-button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  inline-size: 38px;
  block-size: 34px;
}

.like-icon {
  cursor: pointer;
  display: block;
  margin: auto;
}

.button {
  position: relative;
  overflow: hidden;
  color: var(--main-color-button);
  mix-blend-mode: difference;
}

.card__like-button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--main-color-button);
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  cursor: pointer;
  background-color: transparent;
  font-family: var(--accent-font);
  line-height: 0.9;
  font-size: 14px;
  position: relative;
}

.img-retro {
  filter: grayscale(80%);
}

.img-contrast {
  filter: contrast(200%) saturate(600%) hue-rotate(360deg);
}

.img-hue {
  filter: hue-rotate(45deg);
}

.img-mix-filter {
  filter: saturate(140%) hue-rotate(0deg) opacity(95%) sepia(40%) contrast(70%) invert(100%);
}

.img-grey-filter {
  filter: grayscale(50%) sepia(70%);
}

.img-blur {
  filter: blur(10px);
}

.img-blur-color {
  filter: brightness(130%) contrast(75%) sepia(30%) hue-rotate(90deg) blur(2px);
}

.modal_con {
  margin: 0 auto;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin-block-end: 100px;
  background-color: var(--background-color-section);
}

.modal_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 100%;
  block-size: 100%;
  padding: 15px 0;
  background-color: transparent;
  border: 2px solid var(--main-color-button);
}

.svg-floppy {
  inline-size: 21px;
  block-size: 21px;
  color: var(--main-color-button);
  fill: var(--main-color-button);
}

.sparks {
  opacity: 0;
}

.dialog {
  position: fixed;
  padding: 30px;
  inline-size: clamp(16.0625rem, 13.9498rem + 9.0141vw, 22.0625rem);
  background-color: var(--background-color-section);
  border: 2px solid var(--main-color);
  opacity: 0;
  pointer-events: none;
}

.dialog[open] {
  opacity: 1;
  pointer-events: auto;
}

.dialog[open]::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  inline-size: 100%;
}

.dialog-con {
  display: flex;
  flex-direction: row;
  gap: 20px;
  inline-size: 100%;
  block-size: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dialog-text {
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 14px;
  color: var(--main-color);
}

.close-button {
  cursor: pointer;
  padding: 0;
  inline-size: 100%;
  block-size: 38px;
  background-color: transparent;
  border: 2px solid var(--main-color-button);
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-dialog {
  inline-size: 85px;
  block-size: 39px;
  color: var(--main-color);
  fill: var(--main-color);
}

@media (max-width: 376px) {

  .section-size {
    inline-size: 100%;
  }

  .header-link {
    font-size: clamp(0rem, 0rem + 13.0667vw, 3.0625rem);
    padding-block-start: clamp(7.5rem, 7.5rem + 0vw, 7.5rem);
  }

  .text-header {
    font-size: clamp(0rem, 0rem + 3.7333vw, 0.875rem);
  }

  .title-section {
    padding: 5.5px 10px 5.5px 10px;
  }


  .card-section:first-child .title-section {
    padding: 6px 12px 6px 10px;
  }

  .tag-img {
    right: 13px;
  }

  .modal_con {
    inline-size: clamp(0rem, 0rem + 81.6vw, 19.125rem);
    flex-direction: column;
  }

  .modal_button {
    flex-direction: column;
  }

  .svg-floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    inline-size: clamp(0rem, 0rem + 90.9333vw, 21.3125rem);
    padding: 30px 40px;
  }

}