/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --border-tag: rgb(255, 255, 255);
    --border-tag-color: rgb(255, 255, 255);
    --main-color: rgba(0, 0, 0, 1);
    --title-weight: 700;
    --paragraph-weight: 400;
    --background-color-section: rgba(255, 255, 255, 1);
    --main-color-button: rgb(255, 255, 255);
    --hover-button: rgb(255, 255, 255);
    --contour-heart: rgba(0, 0, 0, 1);
    --filling-heart: rgba(255, 0, 0, 1);
    --background-color: repeating-linear-gradient(
      180deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px
    ),
    repeating-linear-gradient(
       90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px
    ),
    linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
}

:root.theme-dark {
        --border-tag-color: rgba(0, 204, 20, 1);
        --border-tag: rgb(255, 255, 255);
        --main-color: rgba(0, 204, 20, 1);
        --title-weight: 785;
        --paragraph-weight: 465;
        --background-color-section: rgba(0, 0, 0, 1);
        --main-color-button: rgba(0, 204, 20, 1);
        --hover-button: rgb(0, 0, 0);
        --contour-heart: rgba(0, 204, 20, 1);
        --filling-heart: rgba(255, 0, 0, 1);
        --background-color: repeating-linear-gradient(
            180deg, #000, #000 2px, transparent 2px, transparent 4px
          ),
          repeating-linear-gradient(
             90deg, #000, #000 2px, transparent 2px, transparent 4px
          ),
        linear-gradient(180deg, #007F0C 0%, #004306 100%);
}

@media (prefers-color-scheme: dark) {
      :root {
         --border-tag-color: rgba(0, 204, 20, 1);
         --border-tag: rgb(255, 255, 255);
        --main-color: rgba(0, 204, 20, 1);
        --title-weight: 785;
        --paragraph-weight: 465;
        --background-color-section: rgba(0, 0, 0, 1);
        --main-color-button: rgba(0, 204, 20, 1);
        --hover-button: rgb(0, 0, 0);
        --contour-heart: rgba(0, 204, 20, 1);
        --filling-heart: rgba(255, 0, 0, 1);
        --background-color: repeating-linear-gradient(
            180deg, #000, #000 2px, transparent 2px, transparent 4px
          ),
          repeating-linear-gradient(
             90deg, #000, #000 2px, transparent 2px, transparent 4px
          ),
          linear-gradient(180deg, #007F0C 0%, #004306 100%);
}
}